/* Adding google font */
.azeret-mono {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

/* nav styles */

header{
    width: 1440px;
    height: 652px;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 92px 0px 150px;
}

.nav-title {
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
}

.btn-primary {
    font-weight: 600;
    font-size: 20px;
    padding: 17px 24px 17px 24px;
    border-radius: 5px;
}

/* Banner design */
.banner {
    background-image: url(assets/Hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    border-top: 2px dashed black;
    border-bottom: 2px dashed black; 
    height: 652px;
}

.banner-content {
    max-width: 998px;
    max-height: 582px;
    text-align: center;
    margin: 0 auto;
    padding: 26px 221px 44px 221px;
}

.banner h1 {
    font-size: 48px;
    font-weight: 800;
}

.banner p {
    font-size: 16px;
    font-weight: 400;
    max-width: 852px;
    color: rgb(13, 19, 33);  
    text-align: center;
    margin: 0 auto;
}

.contact-btn {
    font-weight: 600;
    font-size: 20px;
    margin-top: 32px;
    margin-bottom: 44px;
    padding: 17px 24px 17px 24px;
    border-radius: 5px;
    background-color: rgb(13, 19, 33);
    color: rgb(255, 255, 255)
}

/* main section design */

/* Purpose section styling/why section */
.purpose-sec {
    padding: 80px 97px;
    height: 1395px;
    width: 1140px;
    height: 1395px;
    margin: 0 auto;
    margin-top: 74px;
}

.head1 {
    text-align: center;
    max-width: 852px;
    margin: 0 auto;
}

.head1 h1 {
    font-weight: 800;
    font-size: 32px;
    color: rgb(13, 19, 33)
}

.head1 p {
    font-weight: 400;
    font-size: 16px;
    /* color: rgb(13, 19, 33) */
}

.head2 {
    margin-top: 48px;
    padding: 48px;
    max-height:336px; 
    display: flex;
    justify-content: space-between;
}

.head-text {
    width: 477px;
    color: rgba(13, 19, 33, 0.7);
}

.head-text h1{
    font-size: 24px;
    font-weight: 700;
}

.learn-more-1{
    font-size: 20px;
    margin-top: 15px;
    padding: 12px 20px 12px 20px;
    border: 1px solid rgb(13, 19, 33);
}

.head3{
    margin-top: 48px;
    padding: 48px;
    max-height:336px; 
    display: flex;
}
.head4{
    margin-top: 48p x;
    padding: 48px;
    margin-top: 32px;
    max-height:336px; 
    display: flex;
    justify-content: space-between;
}

/* Inspiration Section design */

.inspiration-sec{
    margin-left: 148px;
    margin-right: 152px;
    height: 775px;
    text-align: center;
}

.youtube-link{
    margin-top: 48px;
    padding: 32px;
    border-radius: 16px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
}

/* My Current Target Section design  */

.target-section{
    margin-top: 149px;
}

.learn-more-button {
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    font-size: 16px;
    font-weight: 700;
    padding: 0;
}

/* Icon section design(current target sec) */
.primary-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1140px;
    height: 300px;
    margin: 0 auto;
}

.icon-html, .icon-css, .icon-js {
    width: 364px;
    padding: 40px;
    margin-top: 48px;
}

.icon-html{
    background: rgba(255, 76, 30, 0.05);
}
.icon-css{
    background: rgba(0, 76, 232, 0.05);
}
.icon-js{
    background: rgba(255, 223, 0, 0.05);
}

/* My next target Section styling */

.secondary-icons{
    margin-top: 48px;
}

.next-target{
    margin-top: 111px;
}

.react, .node, .mongoDB {
    padding: 40px;
    max-width: 1140px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    margin: 0 auto;
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    

}

.react-icon,.node-icon, .mongoDB-icon{
    margin-right: 24px;
}
.message{
    width: 48px;
height: 57px;
}

/* registration section styling */

.registration-section{
    max-width: 1140px;
    max-height: 314px;
    padding: 64px 48px;
    border-radius: 16px;
    background-image: url(assets/handshake.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    margin: 0 auto;
    margin-top: 44px;
    text-align: center;
}

.reg-text h1{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 32px;
    font-weight: 700;
}
.reg-text P{
    color: rgb(255, 255, 255);
    font-weight: 400px;
    margin: 16px 0px;
}
.search-box{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    width: 548px;
    height: 57px;
    margin: 24px 0px;
    padding: 19px 20px;
}
.sub{
    width: 120px;
    height: 58px; 
    font-size: 20px;
    font-weight: 600;
    margin: 24px 0px;
    padding: 17px 20px;
    text-align: center;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
}

/* footer section styling */
footer{
    width: 1140px;
    height: 36px;
    margin: 0 auto;
    margin-top: 79px;
    margin-bottom: 32px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.footer-icons img{
    width: 36px;
    height: 36px;
}

footer p{
    font-size: 20px;
    font-weight: 600;
}


